.footer {
	width: 100%;
	// min-height: $footer;
	flex: 0 0 auto;
	position: relative;
	background-color: $dark;
	// @include bp($point_2) {
	// 	min-height: 25rem;
	// }
	* {
		color: $white
	}
}

.footer {
}
.section_in {
}
.footer_main {
	@include flex-start;
	padding: 4rem 0;
	align-items: flex-start;
	flex-wrap: wrap;
}
.footer_info {
	max-width: 28.9rem;
	width: 100%;
	margin-right: 7.5rem;
	@include bp($point_2) {
		margin: 0 3rem 0 0;
		width: auto;
	}
}
.footer_logo {
	max-width: 18rem;
	margin-bottom: 4rem;
	@include bp($point_2) {
		max-width: 12rem;
		margin-bottom: 2rem;
	}
}
.footer_about {
	font-size: 1.6rem;
	@include bp($point_2) {
		font-size: 1.2rem;
	}

	@include bp($point_4) {
		margin-bottom: 3rem;
	}
	a {
		margin-bottom: 1rem;
		display: block;
		@include bp($point_2) {
			margin-bottom: 0.5rem;
		}
	}
	p {
		margin-bottom: 3.8rem;
		@include bp($point_2) {
			margin-bottom: 2rem;
		}
	}
}
.footer_brand {
	@include bp($point_2) {
		max-width: 23rem;
	}
}
.footer_nav_w {
	@include bp($point_2) {
		margin-right: 4rem;
	} 


	@include bp($point_4) {
		margin: 0 0 3rem 0
	}
}
.footer_nav {
}
.footer_nav_list {
	@include flex-start;
	align-items: flex-start;
	margin-right: 7.4rem;
	@include bp($point_2) {
		margin: -1.5rem -1.5rem 0 0;
		max-width: 28rem;
		flex-wrap: wrap;
	}
	&>li {
		font-size: 1.6rem;
		font-family: $font_2;
		@include bp($point_2) {
			padding: 1.5rem 1.5rem 0 0;
			font-size: 1.6rem;
		}
		&:not(:last-child) {
			margin-right: 5rem;
			@include bp($point_2) {
				margin: 0;
			}
		}

		.sub-menu {
			display: block;
			margin-top: 1.5rem;
			@include bp($point_2) {
				display: none;
			}
			li {
				&:not(:last-child) {
					margin-bottom: 1rem;
					line-height: 2rem;
				}
				a {
					font-size: 1.4rem;
					font-family: $font_1;
					opacity: .8;
					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}
}
.sub-menu {
}
.footer_contacts {

	&>div {
		@include flex-end;
		@include bp($point_2) {
			justify-content: flex-start;
		}
		&:nth-child(2) {
			margin-bottom: 1rem;
		}
		a {
			@include flex-end;
			font-size: 1.6rem;
		}
		p {
			font-size: 1.6rem;
		}
	}
}
.footer_phone {
	margin-bottom: 2rem;
	a {
		@include flex-start;
		background-color: $white;
		border-radius: 5rem;

		@include bp($point_4) {
			background-color: $trans;
		}
		p {
			color: $blue!important;
			font-family: $font_2;
			padding-right: 1.5rem;

			@include bp($point_4) {
				color: $white!important;
			}
		}
	}
}
.footer_phone_icon {
	width: 4rem;
	height: 4rem;
	@include flex-center;
	color: $white;
	background-color: $blue;
	border-radius: 100%;
	margin-right: 1rem;

	@include bp($point_8) {
		width: 3rem;
		height: 3rem;
	}
	svg {
		width: 2.2rem;
		height: 2.2rem;
		@include bp($point_8) {
			width: 1.5rem;
			height: 1.5rem;
		}
	}
}
.icon {
}
.icon-phone {
}

.footer_mail_icon {
	margin-right: 0.7rem;
}
.icon-mail {
}

.footer_time_icon {
	margin-right: 0.7rem;
}
.icon-clock {
}