.footer {
	width: 100%;
	min-height: $footer;
	flex: 0 0 auto;
	will-change: transform;
	position: relative;
}

.footer {
}
.section_in {
}
.footer_main {
}
.footer_info {
}
.footer_logo {
}
.footer_about {
}
.footer_brand {
}
.footer_nav_w {
}
.footer_nav {
}
.footer_nav_list {
}
.sub-menu {
}
.footer_contacts {
}
.footer_phone {
}
.footer_phone_icon {
}
.icon {
}
.icon-phone {
}
.footer_mail {
}
.footer_mail_icon {
}
.icon-mail {
}
.footer_time {
}
.footer_time_icon {
}
.icon-clock {
}