.reviews {
}
.global_section {
}
.section_in {
}
.reviews_main {
	text-align: center;

	h1 {
		margin-bottom: 8rem;
		text-align: left;
		@include bp($point_2) {
			margin-bottom: 5rem;
		}
	}

	margin-bottom: 16rem;

	@include bp($point_2) {
		margin-bottom: 12rem;
	}
}
.reviews_grid {
	grid-gap: 5rem 2.9rem;
	margin-bottom: 8rem;
	@include bp($point_2) {
		grid-gap: 1.5rem;
		grid-template-columns: repeat(auto-fill, minmax(28%, 1fr));
		margin-bottom: 6rem;
	}
	@include bp($point_4) {
		grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
		grid-gap: 1rem;
	}
}
.grid-4 {
}
.reviews_item {
	padding: 3rem;
	box-shadow: 1rem 1.5rem 5rem rgba(0, 0, 0, 0.1);
	background-color: $white;
	@include bp($point_2)  {
		padding: 2rem;
	}

	@include bp($point_4) {
		padding: 1rem;
	}

	.btn {
		width: 100%;
		max-width: 100%;
		button {
			width: 100%;

			@include bp($point_4) {
				font-size: 1.4rem;
				padding: 1rem;
			}
		}
	}
}
.reviews_item_img {
	height: 38.2rem;
	width: 100%;
	overflow: hidden;
	margin-bottom: 3rem;

	@include bp($point_4) {
		margin-bottom: 1rem;
	}



	@include bp($point_2) {
		height: auto;
	}
}
.btn {
}
.btn-border {
}
.reviews_more {
	@include flex-center;
	font-size: 1.6rem;
	font-family: $font_2;
	position: relative;
	display: inline-flex;
	border-bottom: .1rem solid $dark;
	&:hover {
		border-color: $blue;
		a {
			color: $blue;
		}
	}
	&:before {
		position: absolute;
		top: calc(100% + 1rem);
		left: 50%;
		transform: translateX(-50%);
		width: 0;
		height: 0;
		border: 0 solid transparent;
		border-left-width: 1.5rem;
		border-right-width: 1.5rem;
		border-top: 1rem solid $blue;
		content: '';
	}
}