.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-call {
	font-size:calc(15/10)*1rem;
	width:calc(15/15)*1em;
}
.icon-call-contacts {
	font-size:calc(23/10)*1rem;
	width:calc(23/23)*1em;
}
.icon-clock {
	font-size:calc(14/10)*1rem;
	width:calc(14/14)*1em;
}
.icon-clock-contacts {
	font-size:calc(23/10)*1rem;
	width:calc(23/23)*1em;
}
.icon-location {
	font-size:calc(17/10)*1rem;
	width:calc(14/17)*1em;
}
.icon-mail {
	font-size:calc(12/10)*1rem;
	width:calc(15/12)*1em;
}
.icon-mail-contacts {
	font-size:calc(18/10)*1rem;
	width:calc(23/18)*1em;
}
.icon-map {
	font-size:calc(23/10)*1rem;
	width:calc(18/23)*1em;
}
.icon-next {
	font-size:calc(12/10)*1rem;
	width:calc(24/12)*1em;
}
.icon-ours-0 {
	font-size:calc(36/10)*1rem;
	width:calc(60/36)*1em;
}
.icon-ours-1 {
	font-size:calc(60/10)*1rem;
	width:calc(60/60)*1em;
}
.icon-ours-2 {
	font-size:calc(54/10)*1rem;
	width:calc(60/54)*1em;
}
.icon-ours-3 {
	font-size:calc(54/10)*1rem;
	width:calc(54/54)*1em;
}
.icon-ours-4 {
	font-size:calc(38/10)*1rem;
	width:calc(38/38)*1em;
}
.icon-ours-5 {
	font-size:calc(38/10)*1rem;
	width:calc(38/38)*1em;
}
.icon-prev {
	font-size:calc(12/10)*1rem;
	width:calc(24/12)*1em;
}
.icon-wa {
	font-size:calc(28/10)*1rem;
	width:calc(28/28)*1em;
}
