footer.footer 
	.section_in 
		.footer_main
			.footer_info
				.footer_logo
					a(href="#") 
						img(src="i/global/logo.svg", alt="")
				.footer_about 
					a(href="#") Политика конфиденциальности
					p © 2022 Все права защищены
					.footer_brand 
						a(href="#")
							img(src="i/global/brand.png", alt="")
			.footer_nav_w 
				nav.footer_nav 
					ul.footer_nav_list 
						-
							var nav = [
								{
									navTitle: 'Главная',
									navLink: '/',
								},
								{
									navTitle: 'Наши работы',
									navLink: '/work.html',
								},
								{
									navTitle: 'Отзывы',
									navLink: '/reviews.html',
								},
								{
									navTitle: 'Контакты',
									navLink: '/contacts.html',
								},
								{
									navTitle: 'Услуги',
									navLink: '/service.html',
									submenu: true,
								},
							]
						each item in nav 
							if item.submenu 
								li 
									a(href=item.navLink)=item.navTitle
									ul.sub-menu
										each menuLink in ['Ремонт межпанельных швов', 'Ремонт фасадов и кровли', 'Косметический ремонт любой сложности', 'Ремонт коммерческих помещений', 'Производство и монтаж — окон и дверей', 'Отмостка — асфальтирование — ямочный ремонт', 'Изготовление и монтаж металлических изделий']
											li 
												a(href="#")=menuLink
							else
								li 
									a(href=item.navLink)=item.navTitle
			.footer_contacts 
				.footer_phone 
					a(href="#")
						.footer_phone_icon 
							+icon('call')
						p +7 (812) 649-00-32
				.footer_mail
					a(href="#")  
						.footer_mail_icon 
							+icon('mail')
						p 6490032@mail.ru
				.footer_time 
					.footer_time_icon 
						+icon('clock')
					p Пн- Пт: 9:00 - 20:00