extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'SSK - Work Page'}
block content_block
	section.work.global_section 
		.section_in
			.work_main 
				.work_head 
					h1 Наши работы
					ul.work_cat 
						each item in ['Все', 'Ремонт парадных', 'Квартирный ремонт', 'Окна', 'Двери', 'Окраска бетонных полов', 'Асфальтирование и отмостка', 'Водосточные системы', 'Металлические изделия', 'Ремонт козырьков', 'Фасады']
							li 
								a(href="#")=item
				.work_main 
					ul.work_grid.grid-2
						-for(i = 0; i < 8; i++)
							- let workTitle = ['Косметический ремонт лифтовых холлов', 'Косметический ремонт парадных', 'Косметический ремонт парадных', 'Косметический ремонт парадных', 'Косметический ремонт парадных', 'Косметический ремонт парадной', 'Косметический ремонт парадных', 'Ремонт квартиры на Энгельса']
							- let workAddress = ['улица Сикейроса, д.13', 'Улица Замшина, д.58 к.1', 'Улица Морской Пехоты, д.2', 'Улица Ярослава Гашека, д.9 к.1', 'Проспект Суздальский, д.5 к.1', 'Проспект Комендантский, д.34 к.1', 'Проспект Комендантский, д.35 к.2', 'Проспект Энгельса']
								li.work_item 
									a(href="#")
										.work_item_content 
											h3=workTitle[i]
											p На данном объекте нами были выполнены работы по косметическому ремонту 10-ти (десяти) парадных МКД.
											.work_item_address 
												.work_itemAddress_icon 
													+icon('location')
												p=workAddress[i]
											+btn({
												title: 'Подробнее',
												class: 'btn-border work_item_btn',
											})
										.work_item_img 
											img(src=`i/work/work-${i}.jpg`, alt="")
					+pagination({pages:5})