section.application.animationBlock 
	.section_in 
		.application_main 
			.application_head.head-mod.animationEl
				h6 Оставьте заявку
			.application_form_w.animationEl 
				form.application_form(action="")
					.form_input_group.grid-2
						+input({
							place: 'Имя',
							class: 'application_input'
						}) 
						+input({
							place: 'Телефон',
							type: 'tel',
							class: 'application_input'
						}) 
					.btn_submit.btn.btn-border.btn-border-white
						input(type="submit", value="Отправить")
				.application_notice!='Отправляя заявку вы соглашаетесь на обработку своих персональных данных и принимаете <a href="/policy.html" target="_blank">Политику конфиденциальности</a>'
				